<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inserir conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        Dia:
      </ion-label>
      <ion-datetime displayFormat="DD" placeholder="Selecione a data de pagamento" [(ngModel)]="todo.dataPagamento"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Valor:</ion-label>
        <ion-input type="number" placeholder="10,00" [(ngModel)]="todo.valorConta"></ion-input>  
    </ion-item> 
    <ion-item>
      <ion-label>Conta:</ion-label>
        <ion-input placeholder="Boleto NuBank" [(ngModel)]="todo.conta"></ion-input>  
    </ion-item>  
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Registrar conta</ion-button>
</ion-content>
